<!DOCTYPE html>
<html>
  <head>
    <script>
      const electron = require('electron');
    </script>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="./index.css">

    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <!-- normal script imports etc  -->
    <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous">
    </script>
    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>

    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>


    <script
      src="./index-do-not-edit.js">
    </script>


    <!--
    <div id="topDiv" ondrop="drop(event)" ondragover="allowDrop(event)">
      <img src="./assets/images/bfd.png" id="mainImage" draggable="true"ondragstart="drag(event)" />
    </div>
    -->
    <!-- <img src="./assets/images/bfd.png" id="mainImage" draggable="true"ondragstart="drag(event)" /> -->

  </body>
</html>
